@media (max-width: 700px) {
    :root {
        --margem: 0 10px;
      }


    /** -- HEADER -- **/
    header {
        justify-content: center;
    }

    header nav {
        display: none;
    }
    
    /** -- BENEFÍCIOS -- **/
    .container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      }

    /** -- FOOTER -- **/
    footer  {
        justify-content: center;
    }

    footer h2 {
        display: none;
    }
}   


@media (max-width: 500px) {
    :root {
        --margem: 0 15px;
      }

      /* -- HEADER -- */
      header img {
        height: 54px;
        width: 194px;
      }

    /** -- HERO -- **/
    .hero h1 {
        font-size: 2rem;
      }

      .hero h2 {
        font-size: 1.2rem;
        padding-bottom: 34px;
      }

      .hero .btn {
          padding: 15px 40px;
      }

    /** -- O QUE FAZEMOS -- **/
    .oqf h2 {
        font-size: 1.5rem;
      }
      
      .oqf h3 {
        font-size: 1rem;
      }

    /** -- BENEFÍCIOS -- **/
    .container {
        grid-template-columns: 1fr;
        gap: 20px;
      }

      /** -- BENEFÍCIOS -- **/
    .benef .destaque h1,
    .contato h1 {
        font-size: 1.5rem;
    }

    .benef .destaque h2 {
        font-size: 1.2rem;
    }
    .benef .destaque h3 {
    font-size: 1rem;
    }
    
    /** -- BENEFÍCIOS -- **/
    .contato {
        margin: 0;
    }


}
